@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;


}

body {
    background-color: purple;
    font-family: "Bebas Neue", sans-serif;
    color: #FFFFFF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: url();
    background-position: center center;
}
.col-2 image{
    height: 1000px;
    background-size: auto;
    background-image: url(`vanom.png’);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
